<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="  UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create multiple authors</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ author_formset.management_form }}
        {% for form in author_formset %}
        {{ form.as_ul }}

        <br>
        {% endfor %}
        <input type="submit" value="Сохранить"/>
    </form>
</body>
</html>